/* Hello */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.header {
  font-family: 'montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

.container-fluid {
  padding: 3% 15%;
}


body {
  font-family: 'montserrat';
  font-weight: 400;
  margin:0;
  padding: 0;
}

/* navigation bar */

.Ubuntu-font {
  font-family: 'Ubuntu';
  line-height: 1.5;
  font-weight: 500;
  font-size: 3rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'montserrat';
  font-weight: 300;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-image */

.dog-phone-img {
  transform: rotate(25deg);
  width: 60%;
}

/* Features of the app */

#features {
  padding: 16% 4% 16% 4%;
}

.feature {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  color: #ef8172;
  max-width: 100%;
}

.ad-feature {
  font-family: 'montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 3%;
}

.text-feature {
  text-align: center;
  color: #8f8f8f;
  width: 45%;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials Bootstrap Carousel */

#testimonials {
  padding: 8% 16%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials__text {
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials__img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press__logo {
  width: 15%;
  margin: 20px 20px 50px;
}
